<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	<import resource="classpath:/uyun/bat/common/config/spring-conf.xml" />

	<import resource="classpath:uyun/bat/gateway/impl/spring-dubbo.xml" />
	<import resource="classpath:uyun/bat/gateway/api/spring.xml" />
	<import resource="classpath:uyun/bat/gateway/dd_agent/spring.xml" />
	<import resource="classpath:uyun/bat/gateway/agent/spring.xml" />

</beans>