init_config:
  docker_root: /host
  timeout: 10
  api_version: auto
  tls: False
  tls_client_cert: /path/to/client-cert.pem
  tls_client_key: /path/to/client-key.pem
  tls_cacert: /path/to/ca.pem
  tls_verify: True

instances:
  -
    url: "unix://var/run/docker.sock"
    collect_events: false
    collect_container_size: false
    collect_images_stats: false
    collect_image_size: false
    collect_disk_stats: true
    exclude: [".*"]
    include: ["docker_image:ubuntu", "docker_image:debian"]
    tags: []
    ecs_tags: false
    performance_tags: ["container_name", image_name", "image_tag", "docker_image"]
    Available: ["image_name", "image_tag", "docker_image", "container_command"]
    container_tags: ["image_name", "image_tag", "docker_image"]
    collect_labels_as_tags: ["com.docker.compose.service", "com.docker.compose.project"]