init_config:
  ca_certs: /etc/ssl/certs/ca-certificates.crt

instances:
  - name: My first service
    url: http://some.url.example.com
    timeout: 1
    username: user
    password: "******"
    threshold: 3
    window: 5
    include_content: false
    collect_response_time: true
    disable_ssl_validation: true
    ignore_ssl_warning: false
    ca_certs: /etc/ssl/certs/ca-certificates.crt
    check_certificate_expiration: true
    days_warning: 14
    days_critical: 7
    headers:
      Host: alternative.host.example.com
      X-Auth-Token: SOME-AUTH-TOKEN
    skip_event: true
    tags:
      - url:http://alternative.host.example.com
      - env:production
  - name: My second service
    url: https://another.url.example.com
