<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<import resource="classpath:/uyun/bat/common/config/spring-conf.xml" />

	<import resource="classpath:/uyun/bat/console/spring-dao.xml"/>

	<bean class="uyun.bat.console.db.DBInit" factory-method="getInstance">
		<property name="versionDao" ref="versionDao"/>
	</bean>
</beans>