<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yy-MM-dd HH:mm:ss.SSS} %-5level [%logger{36}] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${monitor.logs.dir}/probe.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${monitor.logs.dir}/probe.%i.log</FileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>1</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>30MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>
				%d{yy-MM-dd HH:mm:ss.SSS} %-5level [%logger{36}] %msg%n
			</Pattern>
		</encoder>
	</appender>

	<root>
		<level value="WARN" />
		<appender-ref ref="stdout" />
		<appender-ref ref="file" />
	</root>
	<logger name="org.apache.coyote" level="INFO" />
	<logger name="org.apache.catalina.startup.Catalina" level="INFO" />	
	<logger name="com.broada" level="INFO" />
	
	
	<logger name="org.hibernate.cache.ehcache.AbstractEhcacheRegionFactory" level="ERROR" />	 
</configuration>
