<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cassandra="http://www.springframework.org/schema/data/cassandra"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/cql http://www.springframework.org/schema/cql/spring-cql-1.0.xsd
http://www.springframework.org/schema/data/cassandra http://www.springframework.org/schema/data/cassandra/spring-cassandra-1.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean class="uyun.bat.favourite.impl.facade.FacadeManager"
		factory-method="getInstance">
		<property name="favouriteFacade">
			<bean class="uyun.bat.favourite.impl.facade.FavouriteFacade" />
		</property>
	</bean>

	<bean class="uyun.bat.favourite.impl.logic.LogicManager"
		factory-method="getInstance">
		<property name="favouriteLogic">
			<bean class="uyun.bat.favourite.impl.logic.FavouriteLogic" />
		</property>
	</bean>
</beans>