---
collect_methods: 
  # use FusionManager sdk to monitor FusionManager local service
  # name of monitoring method
  - name: test
    # monitoring type(never change)
    type: ProtocolFusionManager
    # monitoring cycle:60s
    interval: 60
    # username
    username: test
    # password
    password: test
    #FusionManager local service port
    port: 643
hosts: 
  # name of monitoring method, same as the collect_methods name above
  - collect_method: test
    # ip of monitored host,must not be 127.0.0.1
    ip: 127.0.0.1
    # name of the monitored host
    host:
    # os of the monitored host(linux/windows/netdev[network device])
    os: windows
    # use semicolons to separate different tags(ip:127.0.0.1;host:myPC)
    tags: 
    # when deployed agent and agentless on the monitored host,id must be same,otherwise id is unnecessary
    id: 