<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="  
            http://www.springframework.org/schema/beans   
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
            http://www.springframework.org/schema/tx   
            http://www.springframework.org/schema/tx/spring-tx-3.1.xsd  
            http://www.springframework.org/schema/context  
            http://www.springframework.org/schema/context/spring-context-3.1.xsd  
            http://www.springframework.org/schema/util   
            http://www.springframework.org/schema/util/spring-util-3.1.xsd">
	<bean id="config" class="com.broada.carrier.monitor.probe.impl.config.Config"
		factory-method="getDefault" />
	<bean id="probeFactory"
		class="com.broada.carrier.monitor.probe.impl.SpringProbeServiceFactory" />
	<bean id="fileService"
		class="com.broada.carrier.monitor.base.logic.BaseFileServiceImpl" />

	<bean id="dao" class="com.broada.carrier.monitor.common.db.BaseDao" />
	<bean id="taskDao" class="com.broada.carrier.monitor.probe.impl.dao.TaskDao" />
	<bean id="recordDao" class="com.broada.carrier.monitor.probe.impl.dao.RecordDao" />
	<bean id="nodeDao" class="com.broada.carrier.monitor.probe.impl.dao.NodeDao" />
	<bean id="resourceDao" class="com.broada.carrier.monitor.probe.impl.dao.ResourceDao" />
	<bean id="policyDao" class="com.broada.carrier.monitor.probe.impl.dao.PolicyDao" />
	<bean id="methodDao" class="com.broada.carrier.monitor.probe.impl.dao.MethodDao" />
	<bean id="resultCacheDao"
		class="com.broada.carrier.monitor.probe.impl.dao.ResultCacheDao" />
	<bean id="instanceDao" class="com.broada.carrier.monitor.probe.impl.dao.InstanceDao" />
	<bean id="tempDataDao" class="com.broada.carrier.monitor.probe.impl.dao.TempDataDao" />

	<bean id="workDispatcher"
		class="com.broada.carrier.monitor.probe.impl.dispatch.WorkDispatcher"
		factory-method="getDefault" />
	<bean id="monitorDispatch"
		class="com.broada.carrier.monitor.probe.impl.dispatch.MonitorDispatcher"
		factory-method="getDefault" />
	<bean id="monitorProcessor"
		class="com.broada.carrier.monitor.probe.impl.dispatch.MonitorProcessor" />
	<bean id="monitorResultUploader"
		class="com.broada.carrier.monitor.probe.impl.dispatch.MonitorResultUploader"
		factory-method="getDefault" />
	<bean id="typeService"
		class="com.broada.carrier.monitor.probe.impl.logic.ProbeTypeServiceImpl" />

	<bean id="systemService" parent="transactionProxy">
		<property name="target">
			<bean
				class="com.broada.carrier.monitor.probe.impl.logic.trans.ProbeSystemServiceTrans" />
		</property>
	</bean>
	<bean id="nodeService" parent="transactionProxy">
		<property name="target">
			<bean
				class="com.broada.carrier.monitor.probe.impl.logic.trans.ProbeNodeServiceTrans" />
		</property>
	</bean>
	<bean id="taskService"
		class="com.broada.carrier.monitor.probe.impl.logic.ProbeTaskServiceImpl">
		<constructor-arg>
			<bean parent="transactionProxy">
				<property name="target">
					<bean
						class="com.broada.carrier.monitor.probe.impl.logic.trans.ProbeTaskServiceTrans" />
				</property>
			</bean>
		</constructor-arg>
	</bean>
	<bean id="resourceService" parent="transactionProxy">
		<property name="target">
			<bean
				class="com.broada.carrier.monitor.probe.impl.logic.trans.ProbeResourceServiceTrans" />
		</property>
	</bean>
	<bean id="methodService" parent="transactionProxy">
		<property name="target">
			<bean
				class="com.broada.carrier.monitor.probe.impl.logic.trans.ProbeMethodServiceTrans" />
		</property>
	</bean>
	<bean id="policyService"
		class="com.broada.carrier.monitor.probe.impl.logic.ProbePolicyServiceImpl">
		<constructor-arg>
			<bean parent="transactionProxy">
				<property name="target">
					<bean
						class="com.broada.carrier.monitor.probe.impl.logic.trans.ProbePolicyServiceTrans" />
				</property>
			</bean>
		</constructor-arg>
	</bean>
	<bean id="metricService"
		class="com.broada.carrier.monitor.probe.impl.openapi.service.MetricService" />
	<bean id="hostService"
		class="com.broada.carrier.monitor.probe.impl.openapi.service.ResourceService" />
	<bean id="eventService"
		class="com.broada.carrier.monitor.probe.impl.openapi.service.EventService" />
	 <bean id="yamlTaskService" class="com.broada.carrier.monitor.probe.impl.yaml.YamlTaskService" />
	<bean id="climethodGenerator" class="com.broada.carrier.monitor.probe.impl.method.generator.CliMethodGenerator" factory-method="getInstance"/>
	<bean id="db2MethodGenerator" class="com.broada.carrier.monitor.probe.impl.method.generator.DB2MethodGenerator" factory-method="getInstance"/>	
	<bean id="probe" class="com.broada.carrier.monitor.probe.impl.Probe"
		init-method="startup" />
	 <bean id="yamlFileSyncService" class="com.broada.carrier.monitor.probe.impl.sync.service.YamlFileSyncService" factory-method="getInstance"/>
	<bean class="com.broada.carrier.monitor.probe.impl.sync.ProbeInfoTransTask" init-method="init"/>
	<bean class="com.broada.carrier.monitor.probe.impl.sync.YamlFileSyncTask" init-method="init"/>
	
	<bean class="com.broada.carrier.monitor.probe.impl.task.resource.ResourceUploadTask" init-method="init"/>  
	<bean id="resourceUploadService" class="com.broada.carrier.monitor.probe.impl.task.resource.ResourceUploadService" />
	
	<bean class="com.broada.carrier.monitor.probe.impl.task.event.EventUploadTask" init-method="init"/>  
	<bean id="eventUploadService" class="com.broada.carrier.monitor.probe.impl.task.event.EventUploadService" />
	<bean id="ipmiEvent" class="com.broada.carrier.monitor.probe.impl.task.event.ipmi.IpmiEvent"/>
	<bean id="cliEvent" class="com.broada.carrier.monitor.probe.impl.task.event.cli.CliEvent"/>
	
	<bean class="com.broada.carrier.monitor.probe.impl.task.resource.detail.ResourceDetailUploadTask" init-method="init"/>  
	<bean id="resourceDetailUploadService" class="com.broada.carrier.monitor.probe.impl.task.resource.detail.ResourceDetailUploadService" />
	
</beans>  
